# CADERNO

# __builtins__ é modulo padrão que disponibiliza classes, funções etc.

In [5]:
__builtins__.print('ha')

print('ha')

ha
ha

In [6]:
a = 2
b = 2.0

type (a)
type (b)

type (a + b)

float

In [7]:
# pequeno teste sobre 'len'

nome = 'joao'
quantidade = len(nome)

print(quantidade)

4

# CONVERSÃO DE TIPOS

In [8]:
a = 2
b = '5'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

print(type(str(a)))

<class 'int'>
<class 'str'>
7
25
<class 'str'>

# COERÇÃO AUTOMATICA

In [9]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type (10 // 3.3)
10 / 2.5
2 + True
2 + False
type (1 + 2)
type (1 + 2.5)

float

# TIPOS NUMERICOS

In [10]:
dir(int)
dir(float)

a = 5
b = 2.5

a / b
a + b
a * b

type(a)
type(b)

b.is_integer()
5.0.is_integer()
5.1.is_integer()

int.__add__(2 , 5)
2 + 5

(-2).__abs__() # FUNÇÃO DO __INT__
abs(-2) # FUNÇÃO DO __BUILTINS__

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [11]:
1.1 + 2.2

from decimal import Decimal, getcontext # Função que exibe numero quebrado com precisão

Decimal (1) / Decimal (7)

getcontext().prec = 4
Decimal (1) / Decimal (7)

Decimal.max(Decimal(1), Decimal (7))

dir(Decimal)

Decimal (1.1) + Decimal (2.2)

Decimal('3.300')

# TIPOS STRINGS

In [12]:
dir(str)
nome = 'Saulo Pedro'
nome
nome [0]

nome = 'Ana Paula'
nome
nome [0]
nome [1:]
nome [-4:]
nome [:3]
nome [2:5]

numeros = '1234567890'
numeros
numeros [::]
numeros [::2]
numeros [1::2]
numeros [:: -1] # INVERTER STRING

'0987654321'

In [13]:
frase = 'Python é uma linguagem excelente'
'py' in frase
'ing' in frase
len(frase)
frase.lower() # DEIXAR MINUSCULO
'py' in frase.lower()
frase.upper() # DEIXAR MAIUSCULO
frase =  frase.upper() 
frase.split()
frase.split('A')

['PYTHON É UM', ' LINGU', 'GEM EXCELENTE']

# LISTAS []

In [10]:
lista = []
type(lista)
lista.append(1)
lista.append(5)
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista

len(nova_lista)

nova_lista.remove(5)
nova_lista

nova_lista.reverse()
nova_lista

lista

[1, 5]

In [15]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
lista[-1]

3.1415

In [16]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[:3]
lista[1:-1]
lista[:-1]
lista[:]
lista[::2]
lista[::-1] # INVERTE
del lista[2]
lista
del lista[1:]
lista

['Ana']

# TUPLA ()

In [17]:
tupla = tuple()
tupla = ()
type(tupla)

dir(tupla)
# help(tuple)

tupla = ('um') #CUIDADO, STRING 
type(tupla)

tupla = ('um',) #AGORA SIM, TUPLA XD
type(tupla)

tupla[0]

cores = ('verde', 'amarelo', 'azul', 'azul', 'branco')
type(cores)
cores[1]
cores[::1]

cores.index('azul')
cores.count('azul')

len(cores)

5

# TUPLA VS LISTA

# TUPLA IMUTAVEL X LISTA MUTAVEL
# TUPLA ()       X LISTA []

# DICIONARIO {}

In [18]:
pessoa = {'nome': 'prof(a). Ana', 'idade': 38, 'cursos': ['ingles', 'portugues']}
type(pessoa)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'] [1]
pessoa['cursos'] [0]

pessoa.keys() #CHAVES DO DICIONARIO
pessoa.values() #VALORES DO DICIONARIO
pessoa.items() #CHAVES E VALORES DO DICIONARIO
pessoa.get('idade')
pessoa.get('tags', [])

[]

In [19]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa

pessoa.pop('idade') #LE O VALOR E RETIRA
pessoa

pessoa.update({'idade': 40, 'sexo': 'M'}) #NOVOS VALORES
pessoa

del pessoa['cursos'] #RETIRA O VALOR
pessoa

pessoa.clear() #LIMPA O CONTEUDO DO DICIONARIO
pessoa

{}

# CONJUNTO {}

In [20]:
a = {1, 2, 3}
type(a)
a = set('cod3r')
print(a)

{1, 2, 3} == {3, 3, 2, 2, 1, 2}

# Operações

c1 = {1, 2}
c2 = {2, 3}
c3 = c1.union(c2)
c3

c4 = c1.intersection(c2)
c4

c1.update(c2) #INSERIR VALOR NO CONJUNTO
c1

c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
{1, 2, 3} - {2, 3}

c1 - c2

c1 -= {2}
c1

{'3', 'o', 'd', 'c', 'r'}

{1, 3}

# INTERPOLAÇÃO

In [21]:
from string import Template

nome, idade = 'Ana', 30.7654654 

print('Nome: %s \nIdade %.1f %r %r %d %d' % (nome, idade, True, False, True, False))

print('Nome: {0} \nIdade: {1:.1f}'.format(nome, idade))

print(f'Nome: {nome} \nIdade: {idade:.1f} {2 ** 8 + 1}')

s = Template('Nome: $nome \nIdade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana
Idade 30.8 True False 1 0
Nome: Ana
Idade: 30.8
Nome: Ana
Idade: 30.8 257
Nome: Ana
Idade: 30.7654654

In [22]:
pi = 3.1415
r = 10
operacao = pi * r**2

print(operacao)

314.15000000000003

# IMPORTANTO MODULOS

In [23]:
import math

math.pi

3.141592653589793

In [10]:
from math import pi

pi

3.141592653589793

In [17]:
import math as m

m.pi

3.141592653589793

# ELSE IF ELIF

In [1]:
nota = float(input('Insira Valor da Nota:'))

if nota >= 9:
    print('Aprovado com Honra')
elif nota >= 7:
    print ('Aprovado')
elif nota >= 5:
    print('Recuperação')
elif nota >= 3:
    print('Recuperação + Trabalho')
else:
    print('Reprovado')

Recuperação